@charset "EUC-KR";

body {
    font-family: "Nanum Gothic", sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600 !important;
}

.table thead th {
    font-weight: 600;
    background-color: #EAEAEA;
    border-top: 2px solid #8C8C8C;
    border-bottom: 2px solid #8C8C8C;
    color: #212529;
}

.table tbody td {
	color: #212529;
}

.table-bordered th, .table-bordered td {
	border: 1px solid #f4f5f8;
}

.m-subheader {
	padding: 30px 45px 0 45px;
}

.m-body .m-content {
    padding: 25px 45px;
}

.m--font-orange {color: #ff9900;}
.m--font-black {color: #575962;}

.m--padding-top-0 {padding-top: 0px !important;}
.m--padding-top-8 {padding-top: 8px;}
.m--margin-bottom-0 {margin-bottom: 0px !important;}

.display-none {
	display: none !important;
}

/*****************************************************
layout 구성  
왼쪽에 메뉴를 구성하였으며 상단 헤더를 제거한다.
그리고 왼쪽 메뉴 크기를 늘렸다.
******************************************************/
.m-header--fixed .m-body {
	padding-top: 0px !important;
}

.m-aside-left--fixed.m-header--fixed .m-aside-left {
	top: 0px;
}

.m-aside-left {
	width: 340px;
}

.m-aside-left--fixed .m-body {
    padding-left: 340px;
}

/*****************************************************
  파일 다운로드
******************************************************/
.custom-file .custom-file-label:after {
    content: "찾아보기...";
    background-color: #3E8ACC;
    color: #ffffff;
}

.form-control-sm {
    height: calc(2.2125rem + 2px) !important;
    padding: .45rem .8rem !important;
    font-size: .875rem;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
}

 .custom-file-label::after {
    height: 2.3rem;
    padding: .70rem 1.15rem;
} 

/*****************************************************
  공통
******************************************************/
.input-group .input-group-append>.input-group-text {
	border-color: #D5D5D5 !important;
}

table.dataTable tbody td.select-checkbox:before {
	margin-top: -2px;
    border: 1px solid #8C8C8C !important;
}

table.dataTable tr.selected td.select-checkbox:after {
	margin-top: -7px;
}

table.dataTable tr.selected td.select-checkbox:before {
	border: 1px solid black;
}

.select-sm {
	padding: 0 .8rem 0 0 !important;
}

.form-control-sm>.dropdown-toggle {
	padding: .5rem 1.15rem !important;
}