@charset "EUC-KR";

/*****************************************************
  방과 후 과목 관리 스타일
******************************************************/
div.dataTables_wrapper div.dataTables_info {
	font-weight: 600;
}

.subject-add-body .form-inline .form-control {
	width: 250px;
}

.subject-add-body label {
	font-size: 1.3rem;
	font-weight: 600;
	color: #5D5D5D;
	margin-bottom: 10px;
}

.subject-list-body label {
	font-size: 1.3rem;
	font-weight: 600;
	color: #5D5D5D;
	margin-bottom: 0rem;
}

.m-divider-vertical {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.m-divider-vertical span {
	height: 100%;
	width: 1px;
	background: #EBECF1;
}

/*****************************************************
  강좌 등록 스타일
******************************************************/
.lesson-body .m-form .m-form__group {
    padding-bottom: 0px;
}

.lesson-body label {
	font-weight: 600;
}

.lesson-body .form-control,
.lesson-body .bootstrap-select>.dropdown-toggle.btn-light,
.lesson-management-body .form-control,
.lesson-management-body .bootstrap-select>.dropdown-toggle.btn-light {
	border-color: #D5D5D5 !important;
}

.lesson-body .form-control:focus,
.lesson-body .bootstrap-select.show>.dropdown-toggle.btn-light,
.lesson-body .bootstrap-select>.dropdown-toggle.btn-light:focus, 
.lesson-body .bootstrap-select>.dropdown-toggle.btn-light.active,
.lesson-management-body .form-control:focus,
.lesson-management-body .bootstrap-select.show>.dropdown-toggle.btn-light,
.lesson-management-body .bootstrap-select>.dropdown-toggle.btn-light:focus, 
.lesson-management-body .bootstrap-select>.dropdown-toggle.btn-light.active {
	border-color: #716aca !important;
}

/*****************************************************
  수강인원 관리 스타일
******************************************************/
.lesson-management-body .heading-title {
	font-size: 1.4rem !important;
}

.lesson-management-body input {
	font-weight: 600;
}

.dataTables_wrapper .dataTable {
	margin-top: 0 !important;
}

.lesson-management-table thead th,
.lesson-management-table tbody td {
	font-size: 0.9rem !important;
}

.bootstrap-select>.dropdown-toggle.btn-light {
	margin-top: 0 !important;
}