@charset "EUC-KR";

.m-body .m-content {
	padding: 20px 45px;
}

/*****************************************************
  학생 등록 스타일
******************************************************/
.m-portlet .m-portlet__foot {
	padding: 1.6rem 2.2rem;
}

.student-regist-body .m-form .col-form-label {
	font-size: 1.1rem !important;
	font-weight: 600;
	padding-right: 0px !important;
}

.student-regist-body .form-control,
.student-regist-body .bootstrap-select>.dropdown-toggle.btn-light {
	border-color: #D5D5D5 !important;
}

.student-regist-body .form-control:focus,
.student-regist-body .bootstrap-select.show>.dropdown-toggle.btn-light,
.student-regist-body .bootstrap-select>.dropdown-toggle.btn-light:focus, 
.student-regist-body .bootstrap-select>.dropdown-toggle.btn-light.active {
	border-color: #716aca !important;
}

.m-form__group.row .m-checkbox-inline, .m-form__group.row .m-radio-inline {
	margin-top: 10px;
}

.postcode-btn {
	padding-left: 0px !important;
}

.student-regist-body .m-form .m-form__group {
    padding-bottom: 5px;
}

/*****************************************************
  학생 상세정보 스타일
******************************************************/
.student-detail-body .m-form .m-form__group {
	padding-top: 10px;
    padding-bottom: 0px;
}

.student-detail-body .form-control {
	border-color: #D5D5D5 !important;
}

.student-detail-body .form-control:focus {
	border-color: #716aca !important;
}

.student-detail-body input {
	font-weight: 600;
}

.dataTables_wrapper .dataTable {
	margin-top: 0 !important;
}