@charset "EUC-KR";

/*****************************************************
  강사 등록 스타일
******************************************************/
.m-portlet .m-portlet__foot {
	padding: 1.6rem 2.2rem;
}

.teacher-regist-body .m-form .col-form-label {
	font-size: 1.1rem !important;
	font-weight: 600;
	padding-right: 0px !important;
}

.teacher-regist-body .form-control,
.teacher-regist-body .bootstrap-select>.dropdown-toggle.btn-light {
	border-color: #D5D5D5 !important;
}

.teacher-regist-body .form-control:focus,
.teacher-regist-body .bootstrap-select.show>.dropdown-toggle.btn-light,
.teacher-regist-body .bootstrap-select>.dropdown-toggle.btn-light:focus, 
.teacher-regist-body .bootstrap-select>.dropdown-toggle.btn-light.active {
	border-color: #716aca !important;
}

.m-form__group.row .m-checkbox-inline, .m-form__group.row .m-radio-inline {
	margin-top: 10px;
}

.postcode-btn {
	padding-left: 0px !important;
}
